extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Sign in
    
  .form-group
    .offset-md-3.col-md-7.pl-2
      hr
  .form-group
    .offset-md-3.col-md-5.pl-2
      a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
        i.fab.fa-instagram.fa-sm
        | Sign in with Instagram
